* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #141922;
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.mega-container {
    display: flex;
    height: calc(100% - 5.625rem);
    /* overflow: hidden; */
}

/* menu laterale sinistro fisso  */
.sidebar {
    background: black;
    width: 3.125rem;
    padding: .3125rem 0 .625rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* prova fixed  */
    position: fixed;
    bottom: 90px;
    top: 0;
    left: 0;
}

.logo {
    padding: 0 .625rem;
}

.logo img {
    display: block;
}

.logo #logo-small {
    width: 1.875rem;
    height: 1.875rem;
}

.logo #logo {
    display: none;
}

.sidebar .playlist {
    display: none;
}

main {
    margin-left: 3.125rem;
}

.menu {
    padding: .625rem .625rem .625rem 0;
}

.main-menu {
    /* padding-left: .625rem; */
}

.menu .main-menu li {
    padding: .625rem 0 .625rem .625rem;
}

.menu .main-menu li a {
    display: flex;
    align-items: center;
    font-size: .875rem;
    gap: .3125rem;
    text-align: center;
}

.menu .main-menu li span {
    display: none;
}

.menu ul.main-menu li a{
    color: grey;
    transition: all 0.3s ease;
}

.menu ul.main-menu li:hover{
    color: white;
    filter: brightness(1.5);
    border-left: 2px solid #adff2f;
}

.menu ul.main-menu li a:hover{
    color: white;
    filter: brightness(1.5);
}

.menu img {
    width: 1.25rem;
}

.playlist {
    padding: .625rem;
}

.playlist .header {
    font-size: .75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.fa-solid.fa-square-plus {
    font-size: 2.5rem;
}

.playlist .crea {
    display: flex;
    align-items: center;
}

.playlist .list {
    overflow-y: auto;
}

.playlist .list li a{
    transition: all 0.3s ease;
}


.playlist .list li a:hover {
    color: white;
    filter: brightness(1.5);
}

.list li a {
    color: grey;
}

.sidebar .profilo {
    margin-top: auto;
    overflow: hidden;
}

.profilo {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 0 .625rem;
    min-height: 50px;
    flex-shrink: 0;
}

.download {
    transition: all 0.3s ease;
}

.download:hover {
    color: white;
    filter: brightness(1.5);
    cursor: pointer;
}

.download img {
    width: 1.5625rem;
}

.tondo {
    display: flex;
    align-items: center;
}

.tondo-img {
    background: #808080;
    border-radius: 50%;
    overflow: hidden;
    width: 1.5625rem;
    height: 1.5625rem;
}

.download span {
    display: none;
}

.nome-profilo {
    display: none;
}

.download, .tondo {
    gap: .625rem;
}

.download {
    font-size: .75rem;
    color: grey;
}

.tondo .nome-profilo{
    font-size: .75rem;
    font-weight: bold;
}

hr {
    display: none;
}
/* .tondo span {
    display: none;
} */


/* /menu laterale sinistro fisso  */



/* ++++++++ main +++++++  */
main {
    /* width: calc(100% - 11.25rem); */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* miracoloso overflow-y auto  */
}

/* ++++ testa ++++  */
.testa {
    height: 5.625rem;
    background: rgba(0, 0, 0, 0.7);
    /* opacity: 0.7; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 3.125rem);
    padding-right: .9375rem;
}

button {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: 1px solid white;
    border-radius: 1.875rem;
    padding: .75rem 2.1875rem;
    margin-right: .3125rem;
    font-size: .8125rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    filter: brightness(1.5); 
}
/* ++++ /testa ++++  */


/* +++++ menu centrale alto ++++  */
.menu-main {
    padding-top: 5.625rem;
}

main .menu-main ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    padding: 1.25rem .625rem;
    color: grey;
    text-transform: uppercase;
}

main .menu-main ul li{
    font-size: .75rem;
    font-weight: bold;
}

.menu-main ul li a {
    color: grey;
    transition: all 0.3s ease;
}

.menu-main ul li a:hover {
    color: white;
    filter: brightness(1.5);
}
/* +++++ /menu centrale alto ++++  */

/* ++++ sezione album ++++++  */
.sezione-album {
    margin: 1rem 1.25rem 1rem 1.25rem;
}

.sezione-album h2 {
    margin-bottom: 1.25rem;
}

.container-recently {
    display: flex;
    flex-wrap: wrap;
}

.album-info {
    width: calc(100% / 2 - 10px);
    text-align: center;
    padding-right: 10px;
}

.cover-album {
    width: 100%;
    flex-shrink: 0;
}


.cover-album img {
    width: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

.album-info .title {
    padding: .4375rem 0;
}

h5 {
    color: grey;
    padding-bottom: 1.25rem;
}

.cover-album.rotondo {
    width: 100%;
    border-radius: 50%;
    /* background: yellow; */
    overflow: hidden;
}

.cover-album.rotondo img {
    width: 100%;
    object-fit: fill;
    /* border-radius: 50%; */
    display: block;
}
/* +++++ /sezione album +++++  */


/* +++++++ /main +++++++++ */





/* footer  */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #282828;
    height: 5.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .625rem 0 .625rem;
}


.nav-left, .nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* +++++ nav left +++++  */
.nav-left .album-riproduzione {
    width: 1.875rem;
    height: 1.875rem;
}

.brano-footer {
    padding: 0 1.25rem 0 .625rem;
}

.brano-footer .album {
    font-size: .75rem;
    font-weight: bold;
    color: white;
}

.brano-footer .nome-brano {
    color: grey;
    font-size: .625rem;
    font-weight: bold;
}

.nombre {
    transition: all 0.3s ease;
}

.nombre:hover {
    text-decoration: underline;
    filter: brightness(1.5);
    cursor: pointer;
}

.preferenze {
    color: grey;
}

.fa-regular.fa-heart, .fa-regular.fa-folder {
    transition: all 0.3s ease;
}

.fa-regular.fa-heart:hover, .fa-regular.fa-folder:hover {
    color: white;
    filter: brightness(1.5);
    cursor: pointer;
}
/* ++++ /nav left +++++  */


/* ++++ nav center +++  */
.nav-left .album-riproduzione img{
    width: 100%;
}

.riproduzione-sopra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.25rem;
}

.riproduzione-sopra div > i {
    font-size: 1.25rem;
}

.fa-regular.fa-circle-play {
    font-size: 2rem;
    transition: all 0.3s ease;
}

.fa-regular.fa-circle-play:hover {
    transform: scale(1.1);
    filter: brightness(2);
    cursor: pointer;
}

.riproduzione-sotto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .625rem;
    font-size: .625rem;
    font-weight: bold;
}

.playing {
    width: 7.8125rem;
    height: .3125rem;
    -webkit-appearance: none;
    outline: none;
    background: grey;
    border-radius: .625rem;
    overflow: hidden;
}

.playing::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: .625rem;
    height: .625rem;
    border-radius: 50%;
    background: white;
    box-shadow: -410px 0 0 400px white;
    cursor: pointer;
}
/* ++++ /nav center ++++  */


/* +++++ nav right ++++ */
.nav-right {
    gap: .625rem;
    font-size: .8125rem;
    font-weight: bold;
}


.fa-list-ul, .fa-display, .fa-volume-high {
    transition: all 0.3s ease;
}

.fa-list-ul:hover , .fa-display:hover, .fa-volume-high:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.volume {
    width: 5rem;
    height: .3125rem;
    -webkit-appearance: none;
    outline: none;
    background: grey;
    border-radius: .625rem;
    overflow: hidden;
}

.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: .625rem;
    height: .625rem;
    border-radius: 50%;
    background: white;
    box-shadow: -410px 0 0 400px white;
    cursor: pointer;
}
/* ++++ / nav right +++++  */
/* /footer  */






/* +++++ RESPONSIVE ++++++  */

/* small  */
@media screen and (min-width: 576px) {
    .sidebar {
        width: 14.375rem;
        padding: 1.25rem 0 .625rem 0;
    }

    .logo #logo-small {
        display: none;
    }
    
    .logo #logo {
        display: block;
        width: 8.25rem;
    }

    .sidebar .playlist {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: hidden;
    }

    .testa {
        width: calc(100% - 14.375rem);
    }

    .menu .main-menu li span {
        display: inline-block;
    }

    .playlist .list li {
        padding: .3125rem 0;
        font-size: .75rem;
        color: grey;
        font-weight: bold;
    }

    .playlist .list li a {
        display: flex;
        align-items: center;
        gap: .3125rem;
    }

    .playlist li.crea {
        font-size: .9375rem;
        font-weight: bold;
    }

    li.crea {
        gap: .625rem;
    }

    .download {
        display: flex;
        align-items: center;
    }

    .download span {
        display: inline;
    }

    .nome-profilo {
        display: inline;
    }

    hr {
        display: block;
        border-color: grey;
    }


    main {
        margin-left: 14.375rem;
    }
    /* footer  */
    .nav-left .album-riproduzione {
        width: 2.8125rem;
        height: 2.8125rem;
    }

    .brano-footer .nombre{
        display: flex;
        gap: .3125rem;
    }

    .playing {
        width: 8.75rem;
    }

    .nav-right {
        gap: .9375rem;
    }

    .volume {
        width: 5rem;

    }
    /* /footer  */
}


/* medium  */
@media screen and (min-width: 768px) {
    /* main  */
    .album-info {
        width: calc(100% / 4);
    }
    /* /main  */


    /* footer  */
    .nav-left .album-riproduzione {
        width: 3.125rem;
        height: 3.125rem;
    }

    .brano-footer .nombre{
        display: flex;
        gap: .3125rem;
    }

    .nav-left .preferenze {
        display: flex;
        gap: .9375rem;
    }

    .riproduzione-sopra {
        width: 12.5rem;
        margin: 0 auto;
    }

    .playing {
        width: 15.625rem;
    }

    .nav-right {
        gap: .9375rem;
    }

    .volume {
        width: 7.5rem;

    }
    /* /footer  */
}

/* large  */
@media screen and (min-width: 992px) {
    /* main  */
    .album-info {
        width: calc(100% / 6);
    }
    /* /main  */
}


/* extra large  */
@media screen and (min-width: 1200px) {
    /* footer  */
    .playing {
        width: 26.875rem;
    }
    /* /footer  */
}