* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #141922;
}

ul {
    list-style: none;
}

.mega-container {
    display: flex;
}

/* menu laterale sinistro fisso  */
#sidebar {
    background: black;
    width: 3.125rem;
    height: calc(100vh - 5.625rem);
    padding: .625rem;

}

.menu-xs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.menu-xs img {
    padding: .3125rem 0 .3125rem 0;
}

.menu-bottom {
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 5.625rem;
}

.menu-bottom :first-child {
    width: 70%;
}

.tondo {
    background: #808080;
    border-radius: 50%;
    overflow: hidden;
    width: 1.875rem;
    height: 1.875rem;
    text-align: center;
}

.tondo img {
    width: 90%;
}
/* /menu laterale sinistro fisso  */



/* ++++++++ main +++++++  */
main {
    width: calc(100% - 3.125rem);
}

/* ++++ testa ++++  */
.testa {
    height: 5.625rem;
    background: black;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

button {
    background: black;
    color: white;
    border: 1px solid white;
    border-radius: 1.875rem;
    padding: .75rem 2.1875rem;
    margin-right: .3125rem;
    font-size: .8125rem;
    font-weight: bold;
}
/* ++++ /testa ++++  */


/* +++++ menu centrale alto ++++  */
main .menu-main ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;
}

main .menu-main ul li{
    font-size: .75rem;
    font-weight: bold;
}
/* +++++ /menu centrale alto ++++  */

/* +++++++ /main +++++++++ */





/* footer  */
footer {
    background-color: #282828;
    height: 5.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .625rem 0 .625rem;
}

/* .nav-left, .nav-center, .nav-right {
    width: calc(100% / 3 - 1.25rem);
} */

/* .nav.left {
    width: 18.75rem;
} */

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* +++++ nav left +++++  */
.nav-left .album-riproduzione {
    width: 1.875rem;
    height: 1.875rem;
}

.brano-footer {
    padding: 0 1.25rem 0 .625rem;
}
/* ++++ /nav left +++++  */


/* ++++ nav center +++  */
.nav-left .album-riproduzione img{
    width: 100%;
}

.riproduzione-sopra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.25rem;
}

.riproduzione-sopra div > i {
    font-size: 1.25rem;
}

.fa-regular.fa-circle-play {
    font-size: 2rem;
}

.riproduzione-sotto {
    display: flex;
    justify-content: space-between;
    gap: .625rem;
    font-size: .75rem;
}

.playing {
    width: 9.375rem;
}
/* ++++ /nav center ++++  */


/* +++++ nav right ++++ */
.volume {
    width: 5.3125rem;
}
/* ++++ / nav right +++++  */
/* /footer  */