* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #141922;
}


.mega-container {
    display: flex;
}

/* menu laterale sinistro fisso  */
#sidebar {
    background: black;
    width: 3.125rem;
    height: calc(100vh - 5.625rem);
    padding: .625rem;

}

.menu-xs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.menu-xs img {
    padding: .3125rem 0 .3125rem 0;
}

.menu-bottom {
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-bottom :first-child {
    width: 70%;
}

.tondo {
    background: #808080;
    border-radius: 50%;
    overflow: hidden;
    width: 1.875rem;
    height: 1.875rem;
    text-align: center;
}

.tondo img {
    width: 90%;
}
/* /menu laterale sinistro fisso  */



/* ++++++++ main +++++++  */
main {
    width: calc(100% - 3.125rem);
}

/* ++++ testa ++++  */
.testa {
    height: 5.625rem;
    background: black;
    opacity: 0.4;
}
/* ++++ /testa ++++  */


/* +++++++ /main +++++++++ */





/* footer  */
footer {
    background-color: #282828;
    height: 5.625rem;
}
/* /footer  */